<p id="notice"><%= notice %></p>
<table class="table">
<tr>
  <td><strong>First name:</strong></td>
  <td><%= @user.first_name %></td>
</tr>

<tr>
  <td><strong>Last name:</strong></td>
  <td><%= @user.last_name %></td>
</tr>

<tr>
  <td><strong>Email:</strong></td>
  <td><%= @user.email %></td>
</tr>

<tr>
  <td><strong>Phone:</strong></td>
  <td><%= @user.phone %></td>
</tr>

<tr>
  <td><strong>Adress:</strong></td>
  <td><%= @user.adress %></td>
</tr>

<tr>
  <td><strong>Pobox:</strong></td>
  <td><%= @user.pobox %></td>
</tr>

<tr>
  <td><strong>City:</strong></td>
  <td><%= @user.city %></td>
</tr>
</table>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %> 
<%= link_to 'Back', users_path, class: 'btn btn-success' %>
<%= link_to 'User registrations', user_reglists_path(@user), class: 'btn btn-success' %>
